<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.instagram.save.model.mapper.SaveMapper">

    <!-- 로그인 회원 저장 목록 -->
    <select id="selectSavePostId">
        SELECT post_id
        FROM saves
        WHERE user_id = #{loginUserId};
    </select>

    <!-- 로그인 회원 특정 게시물 저장 유무 확인 -->
    <select id="selectSave" parameterType="Save" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM saves
        WHERE post_id = #{postId}
          AND user_id = #{userId}
    </select>

    <!-- 저장 추가 -->
    <insert id="insertSave" parameterType="Save">
        INSERT INTO saves (post_id, user_id)
        VALUES (#{postId}, #{userId})
    </insert>

    <!-- 저장 취소 -->
    <delete id="deleteSave" parameterType="Save">
        DELETE FROM saves
        WHERE post_id = #{postId}
          AND user_id = #{userId}
    </delete>

    <select id="selectSavesByUserId">
        SELECT post_id
        FROM saves
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

</mapper>
