<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.instagram.story.model.mapper.StoryMapper">

    <!-- 스토리 생성 -->
    <insert id="insertStory" parameterType="Story" useGeneratedKeys="true" keyProperty="storyId" keyColumn="story_id">
        INSERT INTO stories (user_id, story_image, created_at, expires_at)
        VALUES ( #{userId}, #{storyImage}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP + INTERVAL '24 hours')
    </insert>

    <update id="updateStory" parameterType="Story">
        UPDATE stories
        SET story_image = #{storyImage}
        WHERE story_id = #{storyId}
    </update>

    <delete id="deleteStory" parameterType="int">
        DELETE FROM stories
        WHERE story_id = #{storyId}
    </delete>

    <!-- 스토리 조회 -->
    <select id="selectAllStories" resultType="Story">
        SELECT story_id, user_id, story_image, created_at, user_name, user_avatar
        FROM active_stories_view
    </select>

    <!-- 24시간 이내 스토리 계정 조회 -->
    <select id="selectAllStoriesForOneDay" resultType="Story">
        SELECT DISTINCT ON (user_id)
        user_id,
        user_name,
        user_avatar,
        created_at
        FROM active_stories_view
        WHERE created_at >= NOW() - INTERVAL '1 day'
        ORDER BY user_id, created_at DESC
    </select>

    <!-- 24시간 이내 특정 사용자 스토리 조   회 -->
    <select id="selectStoriesByUserId" resultType="Story" parameterType="int">
        SELECT story_id, user_id, story_image, created_at, user_name, user_avatar
        FROM active_stories_view
        WHERE created_at >= NOW() - INTERVAL '1 day'
          AND user_id = #{userId}
        ORDER BY created_at ASC
    </select>

    <!-- 특정 스토리 조회 -->
    <select id="selectStoryByStoryId" resultType="Story" parameterType="int">
        SELECT story_id, story_image
        FROM stories
        WHERE story_id = #{storyId}
    </select>

</mapper>
