<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.instagram.user.model.mapper.UserMapper">

    <select id="selectAllUsers" resultType="User">
        SELECT *
        FROM users
        ORDER BY user_id DESC
    </select>

    <select id="selectUserById" parameterType="int" resultType="User">
        SELECT *
        FROM users
        WHERE user_id = #{userId}
    </select>

    <select id="selectUserByUserName" parameterType="User" resultType="String">
        SELECT user_name
        FROM users
        WHERE user_name = #{userName}
    </select>

    <select id="selectUserByUserEmail" parameterType="String" resultType="User">
        SELECT *
        FROM users
        WHERE user_email = #{userEmail}
    </select>

    <select id="selectUserByUserPassword" parameterType="User">
        SELECT *
        FROM users
        WHERE user_password = #{userPassword}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users (user_name, user_email, user_password, user_fullname, user_avatar)
        VALUES (#{userName}, #{userEmail}, #{userPassword}, #{userFullname}, #{userAvatar})
    </insert>

    <update id="updateUser" parameterType="User">
        UPDATE users
        SET user_name = #{userName},
            user_email = #{userEmail},
            user_fullname = #{userFullname},
            user_avatar = #{userAvatar},
--             updated_at = CURRENT_TIME
            updated_at = NOW()
        WHERE user_id = #{userId}
    </update>

    <update id="updateUserPassword" parameterType="User">
        UPDATE users
        SET user_password = #{userPassword},
            updated_at = NOW()
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteUser" parameterType="User">
        DELETE FROM users
        WHERE user_id = #{userId}
    </delete>

    <!-- 유저 이름으로 검색 -->
    <select id="searchUsersByUserName" parameterType="String" resultType="User">
        SELECT
            user_id,
            user_name,
            user_fullname,
            user_email,
            user_avatar,
            created_at,
            updated_at
        FROM users
        WHERE user_name LIKE CONCAT('%', #{query}, '%')
        ORDER BY user_name ASC
        LIMIT 10
    </select>

    <!-- 유저네임으로 정확히 일치하는 유저 조회 -->
    <select id="selectUserByUserNameExact" parameterType="String" resultType="User">
        SELECT
            user_id,
            user_name,
            user_fullname,
            user_email,
            user_avatar,
            created_at,
            updated_at
        FROM users
        WHERE user_name = #{userName}
    </select>


</mapper>
